body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-popup, .info-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1000;
}

.error-popup {
  top: 20%;
  left: calc(50% - 150px);
  width: 300px;
  background: white;
  text-align: center;
}

.info-popup {
  background-color: #dc3545; /* Red background */
  color: white;
}

.info-popup.active {
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  margin-top: 15px;
}

.close-button {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.wifi-password {
  color: #28a745;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .error-popup, .info-popup {
    right: 10px;
    width: calc(100% - 20px);
  }

  .error-popup {
    left: 5%;
  }
}

hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #007bff, transparent);
  margin-top: 20px;
  margin-bottom: 20px;
}


.success-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1000;
}

.success-popup.active {
  opacity: 1;
  transform: translateY(0);
}